* {
    text-align: center;
}


.container{
   display: grid;
   height: 100vh;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 10% 60% 20% 10%;
   grid-gap: 3px;
    
}


.site-header{
    background-color: aquamarine;
    grid-column: span 5;
    grid-row: 1;
}

.site-main{
    background-color: lime;
    grid-column: span 5;
    grid-row: 2;
}

    



.widget-area {
    background-color: purple;
    grid-column: span 5;
    grid-row: 3;

}


.site-footer{
    background-color: darkblue;
    grid-column: span 5;
    grid-row: 4;
}

@media (min-width: 1024px){
    
    .site-header{
        background-color: aquamarine;
        grid-column: 1 ;
        grid-row: span 4;
    }
    .site-main{
        background-color: lime;
        grid-column: 2 / -1;
        grid-row: 1 / span 2;
    }
    .widget-area {
        background-color: purple;
        grid-column: 2 / -1;
        grid-row: 3;
    
    }
    .site-footer{
        background-color: darkblue;
        grid-column: 2 / -1;
        grid-row: 4 / -1;
    }
    

}
@media (min-width: 1200px){

    .site-header{
        background-color: aquamarine;
        grid-column: 1 ;
        grid-row: span 4;
    }
    .site-main{
        background-color: lime;
        grid-column: 2 / 5;
        grid-row: 1 / span 3;
    }
    .widget-area {
        background-color: purple;
        grid-column: 5;
        grid-row: span 4;
    
    }
    .site-footer{
        background-color: darkblue;
        grid-column: 2 / 5;
        grid-row: 4 / 5;
    }

}



    

